{% extends "layouts/base.html" %} 
{% from "components/button.html" import button %}
{% from "components/tweet-item.html" import tweetItem %}

{% block baseHead %}
  <script src="/js/global.js" type="module"></script>
{% endblock %}

{% block baseContent %}
  <div class="flex-grow w-full h-full mx-auto lg:px-4 sm:flex sm:justify-center lg:w-full xl:max-w-7xl isolate">
    <div class="isolate hidden minHminW:block min-w-[69px] md:min-w-[89px] xl:min-w-[275px] h-screen sticky z-10 left-0 top-0">
      {% if logged_in_user %}
        {% include "components/header-home.html" %}
      {% endif %}
    </div>
    <main class="isolate sm:max-w-[600px] w-full min-w-0 pb-44 minHminW:pb-4 sm:border-l sm:border-r sm:border-gray-200">
      <div class="sticky top-0 px-4 py-1 bg-white/[0.97] z-50 min-h-[56px] flex items-center">
          {% block topbar %}
          {% endblock %}
      </div>

      {% block content %}
      {% endblock %}
      
    </main>
    <div class="isolate hidden w-auto grow lg:block xl:w-full max-w-[400px]">
      <aside class="flex flex-col items-center w-full h-full gap-8 py-4 pl-8">
        {% block aside %}
          {% if who_to_follow %}
            <div class="w-full overflow-hidden bg-gray-100 border border-gray-200 rounded-2xl">
              <h2 class="px-4 pt-3 mb-3 text-xl font-bold">Who to follow</h2>
              
                {% for user in who_to_follow %}
                  {{ userItem(logged_in_user_id=logged_in_user["id"], **user) }}
                {% endfor %}
      
              <a class="flex w-full px-4 py-3 text-sm transition-colors text-primary-200 hover:bg-black-200/5 focus:bg-black-200-5 " href="#">Show more</a>
            </div>
          {% endif %}
        {% endblock %}
      </aside>
    </div>

    {% include "components/mobile-navigation.html" %}
  </div>
  {% if logged_in_user %}
    {% include "components/mobile-menu.html" %}
  {% endif %}
{% endblock %}

{% block baseModals %}
  {% include "components/modal-create-tweet.html" %}
{% endblock %}

{% block baseTemplates %}
  {{ tweetItem(is_template=true) }}
  {% include "templates/modal-edit-tweet.html" %}
  {% include "templates/modal-delete-tweet.html" %}
  {% include "templates/modal-unfollow-user.html" %}
{% endblock %}
