{% from "components/button.html" import button %}

{% macro userItem(user_id, user_profile_image, user_username, user_name, is_followed_by_logged_in_user, logged_in_user_id) -%}
  <a data-form="user" data-id="{{ user_id }}" data-username="{{ user_username }}" class="flex w-full gap-3 px-4 py-3 text-sm transition-colors hover:bg-black-200/5 focus:bg-black-200-5" href="/users/{{ user_username }}">
    {% if user_profile_image %}
      <img class="object-cover w-12 h-12 text-transparent transition-all rounded-full hover:brightness-90 focus:brightness-90" src="/static/users/{{ user_profile_image }}" alt="#">
    {% else %}
      <img class="object-cover w-12 h-12 text-transparent transition-all rounded-full hover:brightness-90 focus:brightness-90" src="/static/images/default-profile-image.png" alt="#">
    {% endif %}
    <div class="flex flex-col flex-grow gap-2">
      <div class="flex items-center justify-between flex-grow">
        <div>
          <h3 class="font-bold hover:underline focus:underline">{{ user_name }}</h3>
          <p class="text-gray-400">@{{ user_username }}</p>
        </div>
        {% if not logged_in_user_id == user_id %}
          {% set unfollow_button_attributes = [
            'data-id="' + user_id|string + '"',
            'data-button="unfollow-user"'
          ]|join(' ') %}

          {% set follow_button_attributes = [
            'data-id="' + user_id|string + '"',
            'data-button="follow-user"'
          ]|join(' ') %}
          
          {% if is_followed_by_logged_in_user %}
            {{ button(children="Following", variant="outlined", size="sm", attributes=unfollow_button_attributes) }}
            {{ button(children="Follow", variant="dark", size="sm", classes="is-hidden", attributes=follow_button_attributes) }}
          {% else %}
            {{ button(children="Following", variant="outlined", size="sm", classes="is-hidden", attributes=unfollow_button_attributes) }}
            {{ button(children="Follow", variant="dark", size="sm", attributes=follow_button_attributes) }}
          {% endif %}
        {% endif %}
      </div>
      {% if user_bio %}
        <p>{{ user_bio }}</p>
      {% endif %}
    </div>
  </a>
{% endmacro -%}