{% macro button(children, variant="outlined", size="base", as="button", classes="", attributes="") -%}
  <{{as}} {{ attributes }} class="{{ variants[variant] }} {{ sizes[size] }} {{ baseButton }} {{ classes }}">{{ children }}</{{as}}>
{% endmacro -%}

{% macro icon_button(text, icon, variant="outlined", size="base", as="button", classes="", attributes="") -%}
  <{{as}} {{ attributes }} class="{{ variants[variant] }} {{ sizes[size] }} {{ baseButton }} {{ classes }}">
    {{ icon }}
    <span class="sr-only">{{ text }}</span>
  </{{as}}>
{% endmacro -%}

{% set baseButton = "rounded-full border transition-colors font-semibold cursor-pointer outline-none flex items-center justify-center" %}

{% set variants = {
  "primary": "text-white bg-primary-200 border-primary-200 hover:bg-primary-100 focus:bg-primary-100",
  "primary-outlined": "text-primary-200 border-gray-300 hover:bg-primary-200/10 focus:bg-primary-200/10",
  "outlined": "text-black border-gray-300 focus:bg-black/10 hover:bg-black/10",
  "dark": "bg-black border-black focus:bg-opacity-90 hover:bg-opacity-90 text-white",
  "danger": "bg-danger-200 border-danger-200 focus:bg-danger-100 hover:bg-danger-100 text-white",
} %}

{% set sizes = {
  "sm": "px-4 py-2 text-sm",
  "base": "px-8 py-2 text-base",
  "lg": "px-12 py-4 text-lg"
} %}



