
<header class="flex flex-col items-center h-full py-4 text-lg backface-hidden xl:items-start">
  <a class="flex items-center gap-4 p-3 transition-colors rounded-full text-primary-200 hover:bg-primary-200/10" href="/home">
    <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><title>Logo Twitter</title><path d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z"/></svg>
    <span class="sr-only">Home</span>
  </a>

  {% for link in navigation %}
    <a class="flex items-center gap-4 p-3 transition-colors rounded-full hover:bg-black/10" href="/{{ link['url'] }}">
      {% if link["url"] == currentUrl %}
        <img class="w-7 h-7" src="/static/icons/{{ link['icons']['active'] }}" alt="{{ link['name'] }} icon"/>
      {% else %}
        <img class="w-7 h-7" src="/static/icons/{{ link['icons']['default'] }}" alt="{{ link['name'] }} icon"/>
      {% endif %}
      <span class="sr-only xl:not-sr-only">{{ link["name"] }}</span>
    </a>
  {% endfor %}
  
  <button class="flex items-center justify-center gap-4 p-3 mb-2 transition-colors rounded-full hover:bg-black/10" type="button">
    <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Ellipsis Horizontal Circle</title><circle cx="256" cy="256" r="26"/><circle cx="346" cy="256" r="26"/><circle cx="166" cy="256" r="26"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
    <span class="sr-only xl:not-sr-only">More</span>
  </button>

  <button data-button="create-tweet" class="flex items-center justify-center font-bold text-white rounded-full shadow-lg w-14 h-14 bg-primary-200 xl:w-11/12" type="button">
    <svg class="w-7 h-7 xl:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
    </svg>
    <span class="sr-only xl:not-sr-only">Tweet</span>
  </button>

  <a href="/logout" class="p-3 mt-auto transition-colors border-transparent rounded-full outline-none border-1 hover:bg-black/10 focus:border-black/30 focus:bg-black/10">
    <img class="w-10 h-10 rounded-full" src="http://placekitten.com/g/300/300" alt="#">
  </a>
</header>
