
<header class="flex flex-col items-center h-full py-4 text-lg backface-hidden xl:items-start">
  {% for link in navigation %}
    <a class="flex items-center gap-4 p-3" href="/{{ link['url'] }}">
      {% if link["url"] == currentUrl %}
        <img class="w-7 h-7" src="/static/icons/{{ link['icons']['active'] }}" alt="{{ link['name'] }} icon"/>
      {% else %}
        <img class="w-7 h-7" src="/static/icons/{{ link['icons']['default'] }}" alt="{{ link['name'] }} icon"/>
      {% endif %}
      <span class="sr-only xl:not-sr-only">{{ link["name"] }}</span>
    </a>
  {% endfor %}
  
  <button class="flex items-center justify-center gap-4 p-3 mb-2" type="button">
    <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Ellipsis Horizontal Circle</title><circle cx="256" cy="256" r="26"/><circle cx="346" cy="256" r="26"/><circle cx="166" cy="256" r="26"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
    <span class="sr-only xl:not-sr-only">More</span>
  </button>


  <button class="flex items-center justify-center font-bold text-white rounded-full shadow-lg w-14 h-14 bg-primary-200 xl:w-11/12" type="button">
    <svg class="w-7 h-7 xl:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
    </svg>
    <span class="sr-only xl:not-sr-only">Tweet</span>
  </button>

  <a href="/logout" class="p-3 mt-auto border-2 border-transparent rounded-full outline-none hover:bg-black/10 focus:border-black/30 focus:bg-black/10">
    <img class="w-10 h-10 rounded-full" src="http://placekitten.com/g/300/300" alt="#">
  </a>

</header>
