{% macro tweetItem(tweet_id, tweet_image_file_name, tweet_text, user_id, user_username, user_name, tweet_likes, tweet_fk_user_id, tweet_created_at, is_liked_by_user) -%}
  <form data-id="{{ tweet_id }}" data-form="tweet" class="flex gap-4 p-4 transition-colors border-b border-gray-200 cursor-pointer hover:bg-black/[0.03]">
  <div class="min-w-[3rem]">
    <a class="rounded-full outline-none hover:bg-black/10" href="/users/{{ user_username }}">
      <img class="w-12 h-12 rounded-full" src="/static/users/default_profile_image.png" alt="#" loading="lazy" />
    </a>
  </div>
  <div class="flex flex-col flex-grow min-w-0">
    <div class="flex items-center gap-1 text-gray-400">
      <a data-field="name-link" class="flex items-center min-w-0 gap-1 font-bold text-black hover:underline" href="/users/{{ user_username }}">
        <span data-field="name" class="overflow-hidden text-ellipsis whitespace-nowrap">{{ user_name }}</span>
        <svg class="w-6 h-6 min-w-[1.5rem] text-primary-200" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>
      </a>
      <a data-field="username" class="overflow-hidden text-sm text-ellipsis hover:underline" href="/users/{{ user_username }}">@{{ user_username }}</a>
      <span>&centerdot;</span>
      <span data-field="date" class="text-sm cursor-pointer whitespace-nowrap hover:underline">Mar 19</span>
      <div data-dropdown-container class="relative flex items-center ml-auto">
        <button data-dropdown-button class="group hover:text-primary-200" type="button">
          <div class="absolute top-0 bottom-0 left-0 right-0 -m-2 transition-colors rounded-full group-hover:bg-primary-200/10"></div>
          <svg class="w-5 h-5 transition-colors" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"/></svg>
        </button>
        <div data-dropdown class="absolute top-0 right-0 z-10 overflow-hidden bg-white rounded-md shadow-md is-hidden w-max">
          <button data-button="delete" class="flex items-center w-full gap-3 p-4 text-sm text-danger-200 hover:bg-black/5" type="button">
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/></svg>
            <span>Delete</span>
          </button>

          <button data-button="edit" class="flex items-center w-full gap-3 p-4 text-sm hover:bg-black/5" type="button">
            <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/></svg>
            <span>Edit</span>
          </button>

          <button class="flex items-center w-full gap-3 p-4 text-sm hover:bg-black/5" type="button">
            <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/></svg>
            <span>Add/remove @{{ user_username }} from Lists</span>
          </button>

          <button class="flex items-center w-full gap-3 p-4 text-sm hover:bg-black/5" type="button">
            <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"/></svg>
            <span>Change who can reply</span>
          </button>

          <button class="flex items-center w-full gap-3 p-4 text-sm hover:bg-black/5" type="button">
            <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" /></svg>
            <span>Embed Tweet</span>
          </button>

          <button class="flex items-center w-full gap-3 p-4 text-sm hover:bg-black/5" type="button">
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"/></svg>
            <span>View Tweet activity</span>
          </button>
        </div>
      </div>
    </div>
    <p data-field="text" class="mb-4 whitespace-pre-wrap">{{ tweet_text }}</p>
    {% if tweet_image_file_name %}
      <img data-field="image" class="object-cover w-full mb-4 max-h-96 rounded-2xl" src="/static/tweets/{{ tweet_image_file_name }}" alt="#" loading="lazy"/>
    {% else %}
      <img data-field="image" class="object-cover w-full mb-4 is-hidden max-h-96 rounded-2xl" src="#" alt="#" loading="lazy"/>
    {% endif %}
    <ul class="flex text-gray-400">
      <li class="flex-grow">
        <button data-button="comment" class="flex gap-1 group hover:text-primary-200" type="button">
          <div class="relative">
            <div class="absolute top-0 bottom-0 left-0 right-0 -m-2 transition-colors rounded-full group-hover:bg-primary-200/10"></div>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition-colors" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/></svg>
          </div>
          <span data-field="comment-counter" class="px-2 text-sm transition-colors">2.8k</span>
          <span class="sr-only">Comment</span>
        </button>
      </li>
      <li class="flex-grow">
        <button data-button="retweet" class="flex gap-1 group hover:text-success" type="button">
          <div class="relative">
            <div class="absolute top-0 bottom-0 left-0 right-0 -m-2 transition-colors rounded-full group-hover:bg-success/10"></div>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition-colors" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4"/></svg>
          </div>
          <span data-field="retweet-counter" class="px-2 text-sm">1.2k</span>
          <span class="sr-only">Retweet</span>
        </button>
      </li>
      <li class="flex-grow">
          <button data-button="unlike" class="{{ 'is-hidden' if not is_liked_by_user }} flex gap-1 group hover:text-danger-200" type="button">
            <div class="relative">
              <div class="absolute top-0 bottom-0 left-0 right-0 -m-2 transition-colors rounded-full group-hover:bg-danger-200/10"></div>
              <svg data-field="unlike-icon" class="w-5 h-5 transition-colors stroke-danger-200 fill-danger-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/></svg>
            </div>
            <span class="sr-only">Like</span>
            <span data-field="unlike-counter" class="px-2 text-sm text-danger-200">
              {{ tweet_likes if tweet_likes }} 
            </span>
          </button>
          <button data-button="like" class="{{ 'is-hidden' if is_liked_by_user  }} flex gap-1 group hover:text-danger-200" type="button">
            <div class="relative">
              <div class="absolute top-0 bottom-0 left-0 right-0 -m-2 transition-colors rounded-full group-hover:bg-danger-200/10"></div>
              <svg data-field="like-icon" class="w-5 h-5 transition-colors " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/></svg>
            </div>
            <span class="sr-only">Like</span>
            <span data-field="like-counter" class="px-2 text-sm">
              {{ tweet_likes if tweet_likes }} 
            </span>
          </button>
      </li>
      <li class="flex-grow">
        <button data-button="share" class="flex gap-3 group hover:text-primary-200" type="button">
          <div class="relative">
            <div class="absolute top-0 bottom-0 left-0 right-0 -m-2 transition-colors rounded-full group-hover:bg-primary-200/10"></div>
            <svg class="w-5 h-5 transition-colors" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Share</title><path d="M336 192h40a40 40 0 0140 40v192a40 40 0 01-40 40H136a40 40 0 01-40-40V232a40 40 0 0140-40h40M336 128l-80-80-80 80M256 321V48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
          </div>
          <span class="sr-only">Share</span>
        </button>
      </li>
    </ul>
  </div>
  </form>
{%- endmacro %}