{% from "components/tweet-item.html" import tweetItem %}
{% from "components/button.html" import button, iconButton %}
{% from "components/user-item.html" import userItem %}
{% extends "layouts/app.html" %}

{% block title -%}
  Home
{% endblock %}

{% block topbar -%}
  <div class="flex items-center justify-between w-full">
    <div class="flex gap-4">
      <button data-button="mobile-menu" class="minHminW:hidden">
        {% if logged_in_user["profile_image"] %}
          <img class="object-cover w-8 h-8 rounded-full" src="/static/users/{{ logged_in_user['profile_image'] }}" alt="#">
        {% else %}
          <img class="object-cover w-8 h-8 rounded-full" src="/static/images/default-profile-image.png" alt="#">
        {% endif %}
      </button>
      <h1 class="text-lg font-bold">Home</h1>
    </div>
    <div class="flex gap-4">
      {{ iconButton(text="Latest tweets", color="black-200", icon='<svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Sparkles</title><path d="M259.92 262.91L216.4 149.77a9 9 0 00-16.8 0l-43.52 113.14a9 9 0 01-5.17 5.17L37.77 311.6a9 9 0 000 16.8l113.14 43.52a9 9 0 015.17 5.17l43.52 113.14a9 9 0 0016.8 0l43.52-113.14a9 9 0 015.17-5.17l113.14-43.52a9 9 0 000-16.8l-113.14-43.52a9 9 0 01-5.17-5.17zM108 68L88 16 68 68 16 88l52 20 20 52 20-52 52-20-52-20zM426.67 117.33L400 48l-26.67 69.33L304 144l69.33 26.67L400 240l26.67-69.33L496 144l-69.33-26.67z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>') }}
    </div>
  </div>
{% endblock %}

{% block content -%}
  {% include "components/tweet-form" %}
  <section data-hook="tweets">
    {% if tweets %}
      {% for tweet in tweets %}
        {{ tweetItem(logged_in_username=logged_in_user["username"], **tweet) }}
      {% endfor %}
    {% else %}
      <div class="max-w-sm p-8 mx-auto">
        <h2 class="mb-2 text-3xl font-black">Welcome to your timeline!</h2>
        <p class="mb-8 text-sm text-gray-400">This is the best place to see what’s happening on Tweeter for you. The more people and interests you follow, the better your timeline becomes. We have some suggestions to help you get started.</p>
        {{ button(children="Let's go", variant="primary", size="lg") }}
      </div>
    {% endif %}
  </section>
{% endblock %}
