{% from "components/button.html" import iconButton %}
{% from "components/admin/user-item.html" import userItem %}
{% from "components/admin/tweet-item.html" import tweetItem %}
{% extends "layouts/base.html" %}

{% block title -%}
  Administrator
{% endblock %}

{% block baseContent -%}
  <main class="w-full max-w-4xl py-8 mx-auto">
    <h1 class="px-4 mb-2 text-3xl font-black">Admin page</h1>
    <section class="px-4 py-8">
      <h2 class="mb-2 text-2xl font-bold">User statistics</h2>
      <div class="grid gap-4 xs:grid-cols-2 md:grid-cols-4">

        <div class="p-8 text-center bg-gray-100 border border-gray-200 rounded-2xl">
          <h2 class="text-xl font-bold">Tweets</h2>
          <p class="mb-4 text-4xl font-black ">{{ user_stats["total_tweets"] }}</p>
          <p class="text-sm">Average per user</p>
          <p class="font-black">{{ user_stats["average_tweets"] }}</p>
        </div>

        <div class="p-8 text-center bg-gray-100 border border-gray-200 rounded-2xl">
          <h2 class="text-xl font-bold">Likes</h2>
          <p class="mb-4 text-4xl font-black">{{ user_stats["total_likes"] }}</p>
          <p class="text-sm">Average per user</p>
          <p class="font-black">{{ user_stats["average_likes"] }}</p>
        </div>

        <div class="p-8 text-center bg-gray-100 border border-gray-200 rounded-2xl">
          <h2 class="text-xl font-bold">Followers</h2>
          <p class="mb-4 text-4xl font-black ">{{ user_stats["total_followers"] }}</p>
          <p class="text-sm">Average per user</p>
          <p class="font-black">{{ user_stats["average_followers"] }}</p>
        </div>
        
        <div class="p-8 text-center bg-gray-100 border border-gray-200 rounded-2xl">
          <h2 class="text-xl font-bold">Bookmarks</h2>
          <p class="mb-4 text-4xl font-black ">{{ user_stats["total_bookmarks"] }}</p>
          <p class="text-sm">Average per user</p>
          <p class="font-black">{{ user_stats["average_bookmarks"] }}</p>
        </div>
        
      </div>
    </section>
    
    <section class="py-8">
      <h2 class="px-4 mb-2 text-2xl font-bold">All users ({{ user_stats["total_users"] }})</h2>
      {% if users %}
        {% for letter in users %}
          <h3 class="px-4 text-xl font-bold">{{ letter["letter"]|upper }} ({{ letter["users"]|length}})</h3>
          <div class="{{ 'mb-8' if not loop.last }}">
            {% for user in letter["users"] %}
              <div class="relative overflow-hidden">
                {{ userItem(user_id=user["user_id"], user_profile_image=user["user_profile_image"], user_username=user["user_username"], user_name=user["user_name"]) }}
                {% if user["user_tweets"] %}
                  <div class="absolute w-1 h-full bg-gray-200 top-4 left-10 -z-10"></div>
                  <div class="pl-14">
                    {% for tweet in user["user_tweets"] %}
                      {{ tweetItem(**tweet) }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% else %}
        <div class="max-w-sm p-8 mx-auto">
          <h1 class="mb-2 text-3xl font-black">No users yet</h1>
          <p class="text-sm text-gray-400">When someone signs up for Tweeter, they&apos;ll be listed here.</p>
        </div>
      {% endif %}
    </section>
  </main>
{% endblock %}

{% block templates %}
  {% include "templates/modal-delete-tweet.html" %}
{% endblock %}
