{% from "components/tweet-item.html" import tweetItem %}
{% extends "layouts/app.html" %}

{% block title -%}
  Home
{% endblock %}

{% block topbar -%}
  <h1 class="text-lg font-bold">Home</h1>
{% endblock %}

{% block content -%}
  {% include "components/tweet-form" %}
  <section data-hook="tweets">
    {% if tweets %}
      {% for tweet in tweets %}
        {{ tweetItem(**tweet) }}
      {% endfor %}
    {% else %}
      No tweets yet
    {% endif %}
  </section>
{% endblock %}

{% block aside %}
  <div class="w-full h-64 bg-gray-200 rounded-2xl">
    <h2 class="px-4 pt-3 text-xl font-bold">Trends for you</h2>
  </div>
  <div class="w-full h-48 bg-gray-200 rounded-2xl">
    <h2 class="px-4 pt-3 text-xl font-bold">Who to follow</h2>
  </div>
{% endblock %}
