{% from "components/button.html" import button %}
{% extends "layouts/base.html" %}

{% block head %}
  <script src="js/index.js" type="module"></script>
{% endblock %}

{% block title -%}
   Happening Now
{% endblock %}

{% block baseContent -%}
  <main class="flex-grow mt-6 md:flex md:flex-row-reverse">
    <div class="flex-grow flex flex-col items-start max-w-xl px-8 mx-auto mb-10 md:max-w-none md:my-auto lg:min-w-[45vw] lg:w-2/5">
      <div class="pt-8 md:pt-0 pb-14">
        <svg class="w-12 h-12 fill-primary-200" viewBox="0 0 24 24" aria-hidden="true"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
      </div>
      <h1 class="mb-12 font-bold text-7xl">Happening now</h1>
      <h2 class="mb-10 text-4xl font-bold">Join Tweeter today.</h2>
      {{ button(children="Sign up with phone or email", variant="primary", classes="w-80 mb-2", attributes='data-action="toggle" data-target="user-signup"') }}
      <p class="mb-12 text-xs w-80">By signing up, you agree to the <a class="text-primary-200 hover:underline" href="#">Terms of Service</a> and <a class="text-primary-200 hover:underline" href="#">Privacy Policy</a>, including <a class="text-primary-200 hover:underline" href="#">Cookie Use.</a></p>
      <h3 class="mb-6 font-bold">Already have an account?</h3>
      {{ button(children="Sign in", variant="primary-outlined", classes="w-80", attributes='data-action="toggle" data-target="user-login"') }}
    </div>
    
    <div>
      <img class="object-cover w-full min-h-[46vh] xs:min-h-0 h-full" src="static/images/frontpage-cover.jpg" alt="#">
    </div>
  </main>

  <footer class="p-3">
  <nav aria-label="Footer" role="navigation">
    <ul class="flex flex-wrap justify-center gap-x-3">
      {% for link in footer_links %}
        <li>
          <a class="text-xs text-gray-400 hover:underline" href="#">{{ link }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  </footer>
{% endblock %}

{% block modals %}
  {% include "components/modal-signup.html" %}
  {% include "components/modal-login.html" %}
{% endblock %}

