{% from "components/button.html" import button, iconButton %}
{% from "components/tweet-item.html" import tweetItem %}
{% extends "layouts/app.html" %}

{% block title -%}
  Profile
{% endblock %}

{% block topbar %}
  <div class="flex gap-8">
    <button type="button">
      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Arrow Back</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M244 400L100 256l144-144M120 256h292"/></svg>
    </button>
    <div>
      <p class="flex items-center gap-2 text-xl font-bold">
        <span>{{ user_profile["user_name"] }}</span>
        <svg class="w-6 h-6 min-w-[1.5rem] text-primary-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>
      </p>
      <p class="text-sm text-gray-400">0 tweets</p>
    </div>
  </div>
{% endblock %}

{% block content -%}
  <section>
    <a href="#">
      <img class="w-full aspect-[3/1] object-cover"  src="https://placekitten.com/1280/720" alt="#">
    </a>
    <div class="px-4 pt-3 pb-6">
      <div class="flex flex-wrap items-start justify-between gap-4 mb-4">
        <a class="-mt-[15%] w-1/4 min-w-[88px]" href="#">
          <img class="border-4 border-white rounded-full" src="/static/users/default_profile_image.png" alt="#">
        </a>
  
        <div class="flex items-center gap-2">
          {{ iconButton(
            text="Tweet", 
            icon='<svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Ellipsis Horizontal</title><circle cx="256" cy="256" r="32" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><circle cx="416" cy="256" r="32" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><circle cx="96" cy="256" r="32" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>',
            size="sm"
          ) }}
          {{ button(children="Follow", variant="dark", size="sm") }}
        </div>
      </div>
      <h1 class="text-xl font-bold">{{ user_profile["user_name"] }} <span>Verified</span></h1>
      <div class="flex flex-col gap-2 text-sm text-gray-400 ">
        <p class="">@{{ user_profile["user_username"] }}</p>
        <p class="flex gap-1">
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Calendar</title><rect fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" x="48" y="80" width="416" height="384" rx="48"/><circle cx="296" cy="232" r="24"/><circle cx="376" cy="232" r="24"/><circle cx="296" cy="312" r="24"/><circle cx="376" cy="312" r="24"/><circle cx="136" cy="312" r="24"/><circle cx="216" cy="312" r="24"/><circle cx="136" cy="392" r="24"/><circle cx="216" cy="392" r="24"/><circle cx="296" cy="392" r="24"/><path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" stroke-linecap="round" d="M128 48v32M384 48v32"/><path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" d="M464 160H48"/></svg>
          <span>Joined June 2009</span>
        </p>
        <div class="flex gap-2">
          <p><span class="font-bold text-black">112</span> Following</p>
          <p><span class="font-bold text-black">80M</span> Followers</p>
        </div>
      </div>

    </div>
  </section>

  <section>
    <ul class="flex overflow-x-auto border-b border-gray-200">
      <li class="flex-grow">
        <button class="w-full px-6 text-sm font-bold text-black transition-colors hover:bg-black/10" type="button">
          <div class="inline-flex flex-col">
            <div class="py-4 whitespace-nowrap">Tweets</div> 
            <div class="w-full h-1 rounded-full bg-primary-200"></div>
          </div>
        </button>
      </li>
      <li class="flex-grow">
        <button class="w-full h-full px-6 py-4 text-sm font-bold text-gray-400 transition-colors whitespace-nowrap hover:bg-black/10" type="button">Tweets & replies</button>
      </li>
      <li class="flex-grow">
        <button class="w-full h-full px-6 py-4 text-sm font-bold text-gray-400 transition-colors whitespace-nowrap hover:bg-black/10" type="button">Media</button>
      </li>
      <li class="flex-grow">
        <button class="w-full h-full px-6 py-4 text-sm font-bold text-gray-400 transition-colors whitespace-nowrap hover:bg-black/10" type="button">Likes</button>
      </li>
    </ul>
    {% if tweets %}
      {% for tweet in tweets %}
        {{ tweetItem(user_name=name, user_username=username, **tweet) }}
      {% endfor %}
    {% else %}
      No tweets yet
    {% endif %}
  </section>
{% endblock %}
