{% from "components/button.html" import button, iconButton %}
<template data-template="modal-edit-user">
  <div data-modal="edit-user" class="fixed top-0 left-0 w-screen h-screen sm:flex sm:justify-center sm:items-center">
    <div data-modal-dismiss class="w-full h-full bg-black-200/50"></div>
    <form data-form="edit-user" data-modal-content action="/users" method="POST" enctype="multipart/form-data" class="absolute top-0 bottom-0 left-0 right-0 flex flex-col h-full m-auto bg-white z-1 sm:rounded-2xl overflow-hidden sm:max-w-xl sm:h-fit sm:max-h-[90vh]">
      
      <div class="sticky top-0 left-0 z-10 flex items-center justify-between w-full h-16 gap-2 px-4 py-3 bg-white/[0.97]">
        <div class="flex items-center gap-8">
          {{ iconButton(text="Close", color="black-200", icon='<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>', classes="hidden sm:flex", attributes='data-modal-dismiss type="button"') }}
          {{ iconButton(text="Close", color="black-200", icon='<svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Arrow Back</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M244 400L100 256l144-144M120 256h292"/></svg>', classes="sm:hidden", attributes='data-modal-dismiss type="button"') }}
          <p class="text-lg font-bold">Edit profile</p>
        </div>
        {{ button(children="Save", variant="dark", size="sm", classes="ml-auto", attributes='data-modal-action="save-user" type="submit"') }}
      </div>

      <div class="overflow-y-auto">
        <div class="bg-black-200/40 pb-[33.33%] relative">
          <input data-field="cover-image-input" type="file" name="user_cover_image" id="user-cover-image" hidden>
          <img data-field="cover-image" class="w-full absolute top-0 left-0 aspect-[3/1] object-cover brightness-90" src="#" alt="#">
          <div class="absolute inset-0 flex gap-6 m-auto w-max h-max">
            <button data-button="add-cover-image" type="button" class="relative text-white rounded-full outline-none group">
              <div class="absolute top-0 bottom-0 left-0 right-0 -m-2 transition-colors rounded-full bg-black-200/75 group-hover:bg-black-100/75"></div>
              <svg class="relative w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Camera</title><path d="M350.54 148.68l-26.62-42.06C318.31 100.08 310.62 96 302 96h-92c-8.62 0-16.31 4.08-21.92 10.62l-26.62 42.06C155.85 155.23 148.62 160 140 160H80a32 32 0 00-32 32v192a32 32 0 0032 32h352a32 32 0 0032-32V192a32 32 0 00-32-32h-59c-8.65 0-16.85-4.77-22.46-11.32z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="256" cy="272" r="80" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M124 158v-22h-24v22"/></svg>
              <span class="sr-only">Add cover image</span>
            </button>
            <button data-button="remove-cover-image" type="button" class="relative text-white rounded-full outline-none group is-hidden">
              <div class="absolute top-0 bottom-0 left-0 right-0 -m-2 transition-colors rounded-full bg-black-200/75 group-hover:bg-black-100/75"></div>
              <svg class="relative w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Close</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
              <span class="sr-only">Remove cover image</span>
            </button>
          </div>
        </div>

        <div class="px-4 pt-3 pb-6">
          <div class="flex flex-wrap items-start justify-between gap-4 mb-4">
            <div class="relative -mt-[15%] w-1/4 min-w-[88px] shadow-inner rounded-full aspect-square border-4 border-white" href="#">
              <input data-field="profile-image-input" type="file" name="user_profile_image" id="user-profile-image" hidden>
              {% if user_profile["user_profile_image"] %}
                <img data-field="profile-image" class="object-cover object-center w-full h-full rounded-full brightness-90 aspect-square" src="/static/users/{{ user_profile['user_profile_image'] }}" alt="#">
              {% else %}
                <img data-field="profile-image" class="object-cover object-center w-full h-full rounded-full brightness-90 aspect-square" src="/static/images/default-profile-image.png" alt="#">
              {% endif %}
              <div class="absolute inset-0 m-auto w-max h-max">
                <button data-button="add-profile-image" type="button" class="relative text-white rounded-full outline-none group ">
                  <div class="absolute top-0 bottom-0 left-0 right-0 -m-2 transition-colors rounded-full bg-black-200/75 group-hover:bg-black-100/75"></div>
                  <svg class="relative w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Camera</title><path d="M350.54 148.68l-26.62-42.06C318.31 100.08 310.62 96 302 96h-92c-8.62 0-16.31 4.08-21.92 10.62l-26.62 42.06C155.85 155.23 148.62 160 140 160H80a32 32 0 00-32 32v192a32 32 0 0032 32h352a32 32 0 0032-32V192a32 32 0 00-32-32h-59c-8.65 0-16.85-4.77-22.46-11.32z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path><circle cx="256" cy="272" r="80" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></circle><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M124 158v-22h-24v22"></path></svg>
                  <span class="sr-only">Change profile image</span>
                </button>
              </div>
            </div>
          </div>  

          <div class="relative w-full mb-6">
            <input data-field="edit-user-name" class="w-full px-2 pt-6 pb-2 placeholder-transparent border border-gray-300 rounded-md outline-none focus:border-primary-200 focus:shadow-focus h-14 peer" type="text" name="user_name" id="user-edit-name" placeholder="Name">
            <label class="absolute left-0 px-2 text-sm transition-all text-primary-200 top-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 peer-focus:top-1 peer-focus:text-primary-200 peer-focus:text-sm" for="user-edit-name">Name</label>
          </div>
      
          <div class="relative w-full mb-6">
            <input data-field="edit-user-bio" class="w-full px-2 pt-6 pb-2 placeholder-transparent border border-gray-300 rounded-md outline-none focus:border-primary-200 focus:shadow-focus h-14 peer" type="text" name="user_bio" id="user-edit-bio" placeholder="Bio">
            <label class="absolute left-0 px-2 text-sm transition-all text-primary-200 top-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 peer-focus:top-1 peer-focus:text-primary-200 peer-focus:text-sm" for="user-edit-bio">Bio</label>
          </div>
      
          <div class="relative w-full mb-6">
            <input data-field="edit-user-location" class="w-full px-2 pt-6 pb-2 placeholder-transparent border border-gray-300 rounded-md outline-none focus:border-primary-200 focus:shadow-focus h-14 peer" type="text" name="user_location" id="user-edit-location" placeholder="Location">
            <label class="absolute left-0 px-2 text-sm transition-all text-primary-200 top-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 peer-focus:top-1 peer-focus:text-primary-200 peer-focus:text-sm" for="user-edit-location">Location</label>
          </div>
      
          <div class="relative w-full mb-6">
            <input data-field="edit-user-website" class="w-full px-2 pt-6 pb-2 placeholder-transparent border border-gray-300 rounded-md outline-none focus:border-primary-200 focus:shadow-focus h-14 peer" type="text" name="user_website" id="user-edit-website" placeholder="Website">
            <label class="absolute left-0 px-2 text-sm transition-all text-primary-200 top-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 peer-focus:top-1 peer-focus:text-primary-200 peer-focus:text-sm" for="user-edit-website">Website</label>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</template>